{{ define "get" }}

{{ template "header" }}

<main class="px-3">
    <h1 class="cover-heading">Форма добавления записи</h1>
    <form action="/RecordGet" method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите name"><br>
        <textarea name="last_name" id="last_name" class="form-control" placeholder="Введите last_name"></textarea><br>
        <textarea name="middle_name" id="middle_name" class="form-control" placeholder="Введите middle_name"></textarea><br>
        <textarea name="phone" id="phone" class="form-control" placeholder="Введите phone"></textarea><br>
        <textarea name="address" id="address" class="form-control" placeholder="Введите address"></textarea><br>
        <button class="btn btn-warning">Найти</button>
    </form>
  </main>

{{ template "footer" }}

{{ end }}