{{ define "update" }}

{{ template "header" }}

<main class="px-3">
    <h1 class="cover-heading">Форма добавления записи</h1>
    <form action="/NodeUpdate" method="post">
      <input type="text" name="title" id="title" placeholder="Введите название статьи" class="form-control"><br>
      <textarea name="anons" id="anons" class="form-control" placeholder="Введите анонс статьи"></textarea><br>
      <textarea name="full_text" id="full_text" class="form-control" placeholder="Введите текст статьи"></textarea><br>
      <button class="btn btn-warning">Обновить</button>
    </form>
  </main>

{{ template "footer" }}

{{ end }}